<section class="page-header page-header--newsletter">
  <div class="wrapper">
    <header class="section__header page-header__header">
      <h1 class="section__title page-header__title">{{ "Inscription enregistrée" | t }}</h1>
    </header>
    <div class="section__main page-header__description">
      <div class="message message--success">
        <div class="message__description">
          <p>
            <i class="icon icon-check"></i>
            {{ "Votre inscription à notre newsletter a bien été enregistrée." | t }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
