<section class="wrapper">
  <p class="waiting-message">{{ 'Retrouvez bientôt le site Internet de votre restaurant.' | t }}</p>
  <img src="{{ 'restoready.jpg' | asset_url }}" alt="Logo RestoReady" class="restoready-logo" />
  <a href="http://www.restoready.com" class="restoready-link">{{ 'Un service RestoReady' | t }}</a>
</section>