<section class="page-header page-header--page">
  <div class="wrapper">
    <header class="section__header page-header__header">
      <h1 class="section__title page-header__title">{{ page.title }}</h1>
    </header>
  </div>
</section>

<section class="page-body page-body--legal">
  <div class="wrapper">
    <div class="section__main">
      {{ page.content }}
    </div>
  </div>
</section>