<section class="page-header page-header--contact">
  <div class="wrapper">
    <header class="section__header page-header__header">
      <h1 class="section__title page-header__title">{{ contact_settings.thanks_title }}</h1>
    </header>
    <div class="section__main page-header__description">
      <div class="message message--success">
        <div class="message__description">
          {{ contact_settings.thanks_content }}
        </div>
      </div>
    </div>
  </div>
</section>

